@page "/checkout"
@using BlazingPizza.Model
@using Microsoft.AspNetCore.Components.Forms
@inject OrderState OrderState
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="form-field">
    <label>Name:</label>
    <div>
        <InputText @bind-Value="Address.Name" class="form-control" />
        <ValidationMessage TValue="string" For="@(() => Address.Name)"></ValidationMessage>
    </div>
</div>

<div class="form-field">
    <label>Line 1:</label>
    <div>
        <InputText @bind-Value="Address.Line1" class="form-control" />
        <ValidationMessage TValue="string" For="@(() => Address.Line1)"></ValidationMessage>
    </div>
</div>

<div class="form-field">
    <label>City:</label>
    <div>
        <InputText @bind-Value="Address.City" class="form-control" />
        <ValidationMessage TValue="string" For="@(() => Address.City)"></ValidationMessage>
    </div>
</div>

<div class="form-field">
    <label>Region:</label>
    <div>
        <InputText @bind-Value="Address.Region" class="form-control" />
        <ValidationMessage TValue="string" For="@(() => Address.Region)"></ValidationMessage>
    </div>
</div>

<div class="form-field">
    <label>Postal code:</label>
    <div>
        <InputText @bind-Value="Address.PostalCode" class="form-control" />
        <ValidationMessage TValue="string" For="@(() => Address.PostalCode)"></ValidationMessage>
    </div>
</div>

@code {
    [Parameter] public Address Address { get; set; }

    Order Order => OrderState.Order;
    bool isError = false;
    private EditContext editContext;

    async Task PlaceOrder()
    {
        var response = await HttpClient.PostAsJsonAsync(
        NavigationManager.BaseUri + "orders",
        OrderState.Order
        );
        var newOrderId = await response.Content.ReadFromJsonAsync<int>();
        OrderState.ResetOrder();
        NavigationManager.NavigateTo($"myorders/{newOrderId}");
    }

    private async Task CheckSubmission(EditContext editContext)
    {
        var model = editContext.Model as Address;
        isError = string.IsNullOrWhiteSpace(model?.Name)
        || string.IsNullOrWhiteSpace(model?.Line1)
        || string.IsNullOrWhiteSpace(model?.PostalCode);
        if (!isError)
        {
            await PlaceOrder();
        }
    }

    protected void ShowError()
    {
        isError = true;
    }

    protected override void OnInitialized()
    {
        if (Order.DeliveryAddress == null)
        {
            Order.DeliveryAddress = new Address();
        }

        Address = Order.DeliveryAddress;
        editContext = new EditContext(Address);
        editContext.OnFieldChanged += HandleFieldChanged;
    }

    private void HandleFieldChanged(object sender, FieldChangedEventArgs e)
    {
        isError = !editContext.Validate();
        StateHasChanged();
    }

    public void Dispose()
    {
        editContext.OnFieldChanged -= HandleFieldChanged;
    }
}